.breadcrum{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin: 2rem 9rem;
    font-weight: 600;
    font-family: sans-serif;
}

.breadcrum img{
    width: 1rem;
    height: 1.2rem;
}





